@using Hunters_Game.Models.Characters

@model List<Hunter>

<form class="mb-4" asp-asp-controller="Hunter" asp-action="AddHunters">
    <input class="btn btn-primary" type="submit" value="Добавить охотников" />
</form>

<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Имя</th>
            <th>Пол</th>
            <th>Возраст</th>
            <th>Дата рождения</th>
            <th>Место рождения</th>
            <th>Текущая локация</th>
            <th>Академия</th>
            <th>Департамент</th>
            <th>Характеристики</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hunter in Model)
        {
            <tr>
                <td hidden>@hunter.CharacterId</td>
                <td>@hunter.SecondName @hunter.FirstName</td>
                
                @if (hunter.Gender)
                {
                    <td>Мужской</td>
                }
                else
                {
                    <td>Женский</td>
                }

                <td>@hunter.Age</td>
                <td>@hunter.Birthday.ToString().Replace("0:00:00", "")</td>
                <td title="Регион: @hunter.Region.Name, территория: @hunter.Territory.Name, область: @hunter.Area.Name, город: @hunter.City.Name">@hunter.Disсtrict.Name</td>
                <td>@hunter.CurrentLocation.Name</td>
                <td>@hunter.Academy.Name</td>
                <td>@hunter.Department.Name</td>
                <td><a class="btn btn-primary" asp-controller="Hunter" asp-action="GetHunterStats" asp-route-id="@hunter.CharacterId">Подробно</a></td>
            </tr>
        }
    </tbody>
</table>


